@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    background-color: #050505;
    touch-action: none;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.calculator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 1rem;
}

.output {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3rem;
    color: #f8f8f8;
    border-radius: 10px 10px 0 0;
    padding-right: 2.8rem;
}

.input {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.top-side {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 0.5rem;
}

.right-side {
    grid-row-gap: 0.5rem;
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 80px 80px 80px 80px;
}

.numbers-container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    gap: 0.5rem;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 500px;
}

.number-buttons,
.operator-buttons,
.functional-buttons {
    appearance: none;
    font-size: 1.8rem;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
}

.functional-buttons {
    background-color: #afafaf;
    color: #050505;
    transition: .2s;
}

.functional-buttons:active {
    background-color: #f8f8f8;
}

.number-buttons {
    background-color: #454545;
    color: #f8f8f8;
    transition: .2s;
}

.number-buttons:active {
    background-color: #828282;
}

.operator-buttons,
#equals {
    font-weight: bold;
    background-color: #ff073a;
    color: #f8f8f8;
    transition: .2s;
}

#equals:active {
    background-color: #f8f8f8;
    color: #ff073a;
}

.selected {
    background-color: #f8f8f8;
    color: #ff073a;
}

@media(hover: hover) and (pointer: fine) {

    .functional-buttons:hover {
        background-color: #e0e0e0;
    }

    .functional-buttons:active {
        background-color: #f8f8f8;
    }

    .number-buttons:hover {
        background-color: #606060;
    }

    .number-buttons:active {
        background-color: #818181;
    }

    .operator-buttons:hover {
        background-color: #f8f8f8;
        color: #ff073a;
    }

    #equals:hover {
        background-color: #ff0739ab;
        color: #f8f8f8;
    }

    #equals:active {
        background-color: #f8f8f8;
        color: #ff073a;
    }

}

.inspiration {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #f8f8f8;
    padding-bottom: 70px;
}